/*
==========================================
4. team
==========================================
*/

/*
=============================
HOME PAGE 1 TEAM DESIGN
=============================
*/
.team-item.mt-60 {
	@include mq(xs){
        margin-top: 10px;
        margin-left: 0px;
    }
	@include mq(sm){
        margin-top: 10px;
        margin-left: 100px;
    }
    @include mq(xs){
        margin-left: 54px;
    }
}
.app_details.pb-100.pt-100 {
	padding-top: 0;
}

.personName {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.team-item {
    position: relative;
    border-radius: 8px;
}
.social-icon::before {
    position: absolute;
    content: "";
    width: 182%;
    height: 1px;
    background: #7c8588;
    left: -68px;
    bottom: 49px;
}
.social-icon {
    margin-top: 44px;
    position: relative;
    padding-bottom: 5px;
}


.team_item_four {
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
}
.hover_bg {
    position: relative;
    overflow: hidden;
    display: block;
 
}

.hover_bg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(-25deg, #2196f4 0%, #5ff4ee 100%);
    opacity: 0;
    transition: all 0.3s linear;
    z-index: 1;

}
.team_item_four::before {
    background: #0c1a34;
}
.hover_bg img {
    max-width: 100%;
    transition: all 0.4s linear;
}
.team_item_four .team_content {
    position: absolute;
    bottom: 44px;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 1;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.4s linear;

}
.team_item_four:hover .team_content {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.team_item_four::before {
    background: #0c1a34;
}
.team_item_four:hover::before {
    opacity: 0.8;
}
.team_content {
    color: #fff;
    & h5{
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 2px;
        & a{
            text-decoration: none;
        }
    }
    & p{
        color: #fff;
    }
}
.team_social_icon{
    & a{
        margin: 0 10px;
    }
}
.team-area {
	@include mq(md){
        padding-bottom: 0px;
    }
}

    
//slick dots
.tp-dot-style {
        & .slick-dots {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 16px 0;
            list-style-type: none;
            margin-top: 30px;
                & li {
                    margin: 0 0.5rem;
                    &  button {
                        display: block;
                        width: 8px;
                        height: 8px;
                        padding: 0;    
                        border: none;
                        border-radius: 100%;
                        text-indent: -9999px;
                        background: #cfd3da;
                        border: 1px solid transparent;
                        position: relative;
                        &:before{
                            position: absolute;
                            content: "";
                            height: 24px;
                            width: 24px;
                            display: inline-table;
                            border-radius: 50%;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            border: 1px solid #19cb55;
                            opacity: 0;
                            transition: .3s;
                        }
                    }
                }
                & li.slick-active button {
                    background-color: #19cb55;
                    position: relative;
                    &:before{
                        opacity: 1;
                    }
                }
                @include mq(xs){
                    margin-top: 0px;
                }
        }
    }
.team-padding {
    padding: 0 15px;
}